networks:
  backend:
  frontend:


services:
  db:
    image: postgres:18
    container_name: chronos_db
    networks:
    - backend
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - chronos_db:/var/lib/postgresql/data
    restart: unless-stopped
  frontend:
    image: chronos_frontend:latest_stable
    container_name: chronos_frontend
    networks:
      - frontend
    restart: unless-stopped